* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.cabeceraFija {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    z-index: 1000;
}

.pieFijo {
    position: sticky;
    bottom: 0;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}