body {
    font-family: Arial, sans-serif;
}

.cabeceraFija{
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

.imgHeader{
    position: sticky;
    padding: 20px;
    z-index: 1000;
    height: 135px;
}

.imgHeader:hover {
    transform: scale(1.3);
}

.menuNavegacion{
    background-color: gray;
    padding: 10px;
    text-align: center;
}

.menuNavegacion li {
    display: inline;
    margin: 0px 15px;
}

.menuNavegacion a {
    color: white;
    text-decoration: none;
}

.contenedorPrincipal{
    overflow: hidden;
    width: 100%;
}

.publicidadLateral{
    width: 11%;
    height: 1000px;
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 25px;
}

.seccionCentral{
    float: left;
    background-color: white;
    width: 75%;
    text-align: center;
    border: 2px solid lightslategray;
    margin-top: 25px;
    margin-left: 6px;
    padding-top: 6px;
}

.tituloMain{
    text-align: center;
}

.Izquierda{
    float: left;
}

.Derecha{
    float: right;
}

.pieFijo{
    position: sticky;
    bottom: 0;
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}