.contenedorFormulario {
    width: 600px;
    margin: 40px auto;
    background-color: #f9f9f9;
    padding: 30px;
    border: 1px solid black;
    text-align: left;
}

.contenedorFormulario label {
    display: inline-block;
    width: 160px;
    margin-bottom: 10px;
}

.contenedorFormulario input {
    margin-bottom: 15px;
}

#aficiones:focus {
    background-color: #fff9c4;
}

input:focus {
    background-color: lightcoral;
}

.botones {
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.botones button {
    padding: 10px;
    margin: 0 5px;
}